* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.mr-2 {
    margin-right: 8px;
}
.container {
    max-width: 1440px;
    padding: 0 60px;   
    margin: 0 auto;
}

@import "./variables/variables";
@import "./blocks/header";
@import "./blocks/footer";
// карточка товара
@import "./blocks/productDetail/main";
@import "./blocks/productDetail/similar";
@import "./media/product-detail";
// главная
@import "./blocks/main/top-slider";
@import "./blocks/main/catalog";
@import "./blocks/main/portfolio";
@import "./blocks/main/blog";


// портфолио
@import "./blocks/portfolio/galery";
@import "./media/portfolio-media";

// о компании
@import "./blocks/about/about-company";
@import "./blocks/about/about-delivery";
@import "./blocks/about/about-welcome";
@import "./media/about-media";
