.footer {
  background-color: $mainBlack;
  padding-bottom: 24px;
  &-top {
    min-height: 92px;
    border-bottom: 2px solid #676966;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-socials {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      font-weight: 500;
      font-size: 16px;
      color: $white;
    }
    &-item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $mainBlack;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &-map {
    display: flex;
    margin-top: 28px;
    justify-content: space-between;
  }
  &-info {
    display: flex;
    flex-direction: column;
    span {
      margin-top: 8px;
      font-weight: 300;
      font-size: 14px;
      color: $white;
      a {
        font-weight: 300;
        font-size: 14px;
        color: $white;
      }
    }
    > a {
      font-weight: 600;
      font-size: 28px;
      color: $white;
    }
  }
  &-shedule {
    margin-top: 24px !important;
  }
  &-lists {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 202px));
  }
  &-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    &-title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 14px;
      color: $white;
    }
    &-item {
      margin-top: 8px;
      font-weight: 300;
      font-size: 14px;
      color: $white;
    }
    .footer-first {
      margin-top: 0;
    }
  }
  &-politika {
    display: flex;
    justify-content: space-between;
    * {
      color: #F6F6F5;
      font-weight: 400;
      font-size: 13px;
    }
  }
}