.main_portfolio {
  margin-top: 88px;
  .itc-slider {
    display: block;
    .itc-slider-items {
      gap: $gapSlide;
    }
    .itc-slider-item {
      flex: 0 0 calc(50% - $gapSlide / 2);
    }
  }
  &-slider {
    margin-top: 40px;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-weight: 600;
      font-size: 28px;
      color: $portfolioBlack;
    }
    a {
      color: $mainBlack;
      font-weight: 500;
      font-size: 16px;
      position: relative;
      margin-right: 50px;
      &::before {
        content: "";
        @include imageCover("../images/main/arrow-next.svg", cover);
        width: 10px;
        display: inline-block;
        height: 10px;
        position: absolute;
        right: -36px;
        top: 7px;
      }
    }
  }
  &-promo {
    min-height: 546px;
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin-top: 120px;
  }
  &-left {
    @include imageCover("../images/main/portfolio_2.svg", cover);
    min-width: 648px;
    border-radius: 12px;
    position: relative;
    padding: 44px 0 0 30px;
    img {
      position: absolute;
      bottom: -74px;
      left: -26px;
    }
  }
  &-right {
    display: flex;
    align-items: center;
  }
  &-desc {
    display: flex;
    align-items: flex-start;
    width: 350px;
    span.num {
      font-size: 100px;
      line-height: 1;
      margin-right: 12px;
    }
    span {
      color: $white;
      font-size: 28px;
      font-weight: 600;
    }
  }
  &-link {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
    .title {
      font-weight: 600;
      font-size: 20px;
      color: $mainBlack;
    }
    .descr {
      font-weight: 300;
      font-size: 16px;
      color: $darkBlack;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &-index {
    color: $green;
    font-weight: 400;
    font-size: 36px;
  }
  &-list {
    list-style-type: none;
  }
  .mobile-br {
    display: none;
  }
}