.payment-header-top {
    height: 34px;
    background-color: $mainBlack;
}
.payment-header-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.payment-header-result {
    display: flex;
    align-items: center;
    & span {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $colorDarkGrey;
        margin-right: 13px;
        margin: auto 13px;
    }
    & img {
        margin: auto 0;
    }
}
.payment {
    margin-top: 40px;
    &-title {
        margin-bottom: 24px;
        & h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            color: $mainBlack;
        }
    }
    &-how {
        padding: 32px 0;
        border-bottom: 1px solid $colorLightGrey;
        &-title {
            display: flex;
            column-gap: 16px;
            & h3 {
           
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: $mainBlack;
            }
            & span {
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
                color: $colorMediumGrey;
            }
        }
    }
    &-types {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 12px;

    }
    &-each-type {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 8px 8px;
        & p {
            display: flex;
            flex-wrap: nowrap;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: $mainBlack;
            margin: auto 0;
        }
        & img {
            // margin-left: 8px;
            width: 32px;
            height: 32px;
            padding: 3px;
        }
    }
    &-each-active {
        border: 1px solid $green;
        
        & p {
            color: $green;
        }
    }
    &-city {
        padding: 32px 0; 
        &-title {
            h3 {
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                color: $mainBlack;
            }
        }
    }
    &-cities {
        display: flex;
        column-gap: 12px;
        margin-top: 20px;
        width: 420px;
        height: 52px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 14px 12px;
        & p {
            font-weight: 400;
            font-size: 16px;
            color: $mainBlack;
        }
    }
    &-contacts {
        padding: 32px 0;
        &-title {
            margin-bottom: 20px;
        } 
        & h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: $mainBlack;
        }
    }
    &-forms {
        & input {
            width: 420px;
            height: 52px;
            padding: 14px 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $mainBlack;
            margin-bottom: 16px;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
        }
    }
    &-btn {
        & button  {
            width: 420px;
            height: 48px;
            background-color: $green;
            color: $white;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            border: 2px solid $green;
        }
        & img {
            margin: auto 0 auto 18px;
            width: 7.4px;
            height: 12px;
        }
    }
    &-policy {
        width: 420px;
        padding: 24px 31.5px 0 31.5px;
        & p {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #8D8E8D;
            text-align: center;
        }
    }
}
.none {
    display: none;
}