@media (max-width: 1440px) {
    .about-welcome-map {
    display: none;
    }
    .about-welcome-description-video {
        margin-bottom: 124px;
    }
    .about-welcome-map {
        margin-bottom: 124px;
    }
}

@media (max-width: 992px) {
    .container-about {
        .about-working {
            margin-bottom: 80px;
        }
    }
    
    .about-us {
        margin-bottom: 84px;
        &-title {
            margin-bottom: 24px;
        }
    }
    .container-map {
        margin-bottom: 80px;
        &-ul {
            padding: 10px;
        }
    }
    .about-welcome-description-video {
        margin-bottom: 80px;
    }
}

@media (max-width: 744px) {

    .about-us-short {
        margin: 0 auto;
        &-each {
            width: 48%;
        }
        .first {
            width: 48%;
        }
        .second {
            width: 48%;
        }
        .third {
            width: 48%;
        }
        .fourth {
            width: 48%;
        }
        .fifth {
            width: 48%;
        }   
        .sixth {
            width: 48%;
        }
    } 
}

@media (max-width: 576px) {
    .container-about {
        padding: 0 16px;
        .about-working {
            &-title {
                & h1 {
                    font-size: 28px;
                }
            }
        }
    }


    .about-us-short {
        .first {
            width: 54%;
        }
        .second {
            width: 44%;
        }
        .third {
            width: 57%;
        }
        .fourth {
            width: 41%;
        }
        .fifth {
            width: 100%;
        }   
        .sixth {
            width: 100%;
        }
    } 


    .container-welcome {
        padding: 0 16px;
    }
    .about-welcome-description-video iframe {
        height: 243px;
    }
}
@media (max-width: 425px) {
    .about-us-short {
        .first {
            width: 52%;
        }
        .second {
            width: 44%;
        }
        .third {
            width: 57%;
        }
        .fourth {
            width: 40%;
        }
        .fifth {
            width: 100%;
        }   
        .sixth {
            width: 100%;
        }
    } 
}
@media (max-width: 400px) {
    .about-us-short-each {
        padding: 16px 16px;
    }
}
@media (max-width: 375px) {
    .about-us-short { 

    
    .first {
        width: 100%;
    }
    .second {
        width: 100%;
    }
    .third {
        width: 100%;
    }
    .fourth {
        width: 100%;
    }
    .fifth {
        width: 100%;
    }   
    .sixth {
        width: 100%;
    }
}
}