@media (max-width: 992px) {
    .blog-item {
        &__title {
            font-weight: 600;
            font-size: 28px;
            line-height: 120%;
        }
        
    }
}

@media (max-width: 774px) {
    .blog-item {
        &__content {
            width: 100%;
        }
        &__cont {
            margin-bottom: 48px;
        }
        &__img {
            width: 100%;
        }
    }
}
@media (max-width: 774px) {
    .blog-item {
        .breadcrumbs {
            gap: 12px;
            &-item {
              font-size: 10px;
            }
          }
    }
}