@media (max-width: 1440px) {
    .portfolio {
        &-cards {
            &-images {
                justify-content: flex-start;
                column-gap: 24px;
                & img {
                    width: 49%;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .portfolio {
        &-title {
            & h2 {
                font-weight: 600;
                font-size: 28px;
                line-height: 120%;
            }
        } 
        &-cards {
            margin-bottom: 80px;
            &-title {
                & h3 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 120%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .portfolio {
        &-cards {
            margin-bottom: 98px;
            &-images {
                column-gap: none;
                flex-wrap: wrap;
                & img {
                    width: 100%;
                }
                & img:last-child {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 744px) {
    .galery {
        .container {
            padding: 0 24px;
            .portfolio {
                &-cards { 
                    margin-bottom: 80px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .galery {
        .container {
            .breadcrumbs {
                gap: 12px;
                &-item {
                  font-size: 10px;
                }
              }
            padding: 0 16px;
            .portfolio {
                &-cards { 
                    margin-bottom: 48px;
                }
                &-cards:last-child {
                    margin-bottom: 80px;
                }
            }
        }
        
    }
}