@media (max-width: 1320px) {
  .main{
    &-images-bg {
      width: auto;
      height: 30vw;
      min-height: auto;
    }
    &-images-item:nth-child(9), &-images-item:nth-child(8) {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &-images-item:nth-child(7) {
      display: none;
    }
    &-title {
      font-size: 28px;
    }
  }
}
@media (max-width: 1050px) {
  .main {
    &-images-item:nth-child(6) {
      display: none;
    }
  }
}
@media (max-width: 992px) {
  .header {
    &-hamburger {
      display: block;
    }
    &_menu {
      display: none;
    }
    &-top {
      display: none;
    }
  }

  .main {
    &-guides, &-actions {
      flex-direction: column;
      gap: 8px;
      position: absolute;
      top: 0;
      right: 0px;
      width: 260px;
    }
    &-guides div {
      min-height: 50px;
    }
    &-actions {
      top: 220px;
    }
    &-images-item:nth-child(6) {
      display: block;
    }
    &-images-bg {
      height: 272px;
    }
    &-price-current {
      font-size: 28px;
    }
    &-price {
      position: absolute;
      top: 160px;
      right: 20px;
    }
    &-wrapper {
      flex-wrap: wrap;
      position: relative;
    }
  }
}
@media (max-width: 950px) {
  .main {
    &-wrapper {
      position: static;
    }
    &-images {
      width: 100%;
    }
    &-images-items {
      display: none;
    }
    &-images-bg {
      height: 352px;
    }
    &-info {
      position: relative;
      padding-top: 200px;
    }
    &-guides, &-actions {
      flex-direction: row;
      gap: 0;
      position: static;
      width: auto;
    }
    &-actions {
      top: 40px;
      position: absolute !important;
      width: 100% !important;
    }
    &-price {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
    }
    &-form {
      margin: 80px auto 0 auto;
    }
  }

  .main {
    &-images-bg {
      display: none;
    }
  }
  .itc-slider {
    display: block;
  }
  .main .itc-slider-item {
    max-width: 305px;
    @include imageCover("../images/img-item-mobile.svg");
    height: 400px;
    border-radius: 8px;
  }

  .tags {
    &-inner {
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    &-item a {
      white-space: pre;
    }
  }

  .footer {
    &-map {
      flex-wrap: wrap;
      gap: 80px;
    }
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 16px;
  }
  .mobile-none {
    display: none;
  }
  .header-mobile-menu {
    width: 250px;
  }
  .main {
    .breadcrumbs {
      gap: 12px;
      &-item {
        font-size: 10px;
      }
    }
    &-form-bottom span {
      width: auto;
    }
    &-title {
      font-weight: 600;
    }
    &-form {
      padding: 40px 40px 16px 40px;
    }
    &-actions, &-guides {
      flex-direction: column;
      gap: 12px;
    }
    &-info {
      padding-top: 240px;
    }
  }

  .itc-slider-item {
    height: 230px !important;
  }

  .footer {
    &-lists {
      grid-template-columns: repeat(2, minmax(100px, 202px)) !important;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    &-lists {
      grid-template-columns: repeat(1, minmax(100px, 202px)) !important;
    }
  }
}