@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-Light.ttf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-Regular.ttf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-Medium.ttf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-SemiBold.ttf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-Bold.ttf) format("opentype");
  font-weight: 700;
}