.catalog {
  padding-bottom: 120px;
  &-description {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 620px;
  }
  &-text {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
  }
  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #3E3E3E;
  }
  &-popular {
    margin-top: 80px;
  }
}